.currentLocation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: purple;
    border-radius: 2em;
    width: 40%;
    height: 90%;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition-property: background-color, transform, color; 
    user-select: none;
  }
  
  .currentLocation:hover {
    background-color: #6b0aff;
  }
  
  @media screen and (min-width: 0px) and (max-width: 1251px) {
    .current-heading{
      display: none;
    }

    .currentLocation{
      width: 10%;
      height: 80%;
      border-radius: 50%;
    }
  }