.searchListCon{
    position: absolute;
    top: 10%;
    width: 20%;
    max-height: 400px;
    overflow-y: auto;
    border-radius: 0.3em;
}

li{
    color: white;
    width: 100%;
    background-color: rgb(34, 33, 33);
    padding: 2% 0 3% 4%;
    font-size: 1.5em;
    transition: background-color 250ms ease-in-out;
}

li:hover{
    background-color: rgb(51, 51, 53);
    cursor: pointer;
}

@media screen and (min-width: 0px) and (max-width: 435px) {
    .searchListCon{
        top: 73px;
        z-index: 1;
        width: 55%;
    }

    li{
        width: 100%;
        z-index: 1;
        font-size: 1.2em;
    }

  }

  

  @media screen and (min-width: 435px) and (max-width: 1000px) {
    .searchListCon{
        top: 73px;
        z-index: 1;
        width: 60%;
    }

    li{
        width: 100%;
        z-index: 1;
        font-size: 1.2em;

    }

  }

  @media screen and (min-width: 1000px) and (max-width: 1251px) {
    .searchListCon{
        top: 73px;
        z-index: 1;
        width: 63%;
    }

    li{
        width: 100%;
        z-index: 1;
        font-size: 1.2em;
    }

  }

  @media screen and (min-width: 1251px){
    .searchListCon{
        top: 74px;
    }

  }